:root {
    --primaria: #19441346; /* Azul Marinho */
    --secundaria: #0d6614; /* Laranja para botões de destaque */
    --texto-escuro: #2d3748;
    --fundo-claro: #f7fafc;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--texto-escuro);
    line-height: 1.6;
    scroll-behavior: smooth; /* Rolagem nativa suave */
}

/* Cabeçalho de Navegação */
header {
    background-color: var(--primaria);
    color: rgb(255, 255, 255);
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--secundaria);
}

/* Seção Principal (Hero) */
.hero {
    /* Imagem genérica de igreja escurecida para destacar o texto */
    background: linear-gradient(rgba(16, 19, 17, 0.85), rgba(51, 92, 71, 0.85)), url('assets/fundo imagem.jpg') center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 20px;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    max-width: 800px;
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 2rem;
}

.btn {
    background-color: var(--secundaria);
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #dd6b20;
}

/* Seções Gerais */
section {
    padding: 5rem 5%;
}

.fundo-cinza {
    background-color: var(--fundo-claro);
}

.titulo-secao {
    text-align: center;
    color: rgb(23, 65, 7);
    margin-bottom: 2rem;
    font-size: 2rem;
}

/* Grade de Programação */
.programacao-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    text-align: center;
    border-top: 4px solid var(--secundaria);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    color: var(--primaria);
    margin-top: 0;
}

/* Rodapé */
footer {
    background-color: var(--primaria);
    color: white;
    text-align: center;
    padding: 2rem;
}